<!DOCTYPE html>
<html lang="en">
  <div xmlns:th="http://www.thymeleaf.org"></div>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/home.css" />
  </head>
  <body>
    <footer class="footer">
      <div class="footer__container container grid">
        <a href=" " class="footer__logo">Pizza</a>

        <div class="footer__content grid">
          <div>
            <h3 class="footer__title">Social</h3>
            <div class="footer__social">
              <a href="" target="_blank" class="footer__social-link"
                ><i class="ri-instagram-fill"></i>
              </a>
              <a href="" target="_blank" class="footer__social-link">
                <i class="ri-twitter-fill"></i>
              </a>

              <a href="" target="_blank" class="footer__social-link"
                ><i class="ri-facebook-fill"></i>
              </a>
            </div>
          </div>

          <div>
            <h3 class="footer__title">Payment Methods</h3>
            <div class="footer__pay">
              <img
                src="assets/img/footer-card-1.png"
                alt="image"
                class="footer__pay-img"
              />
              <img
                src="assets/img/footer-card-2.png"
                alt="image"
                class="footer__pay-img"
              />
              <img
                src="assets/img/footer-card-3.png"
                alt="image"
                class="footer__pay-img"
              />
              <img
                src="assets/img/footer-card-4.png"
                alt="image"
                class="footer__pay-img"
              />
            </div>
          </div>

          <div>
            <h3 class="footer__title">Subscribe For Discounts</h3>

            <form action="" class="footer__form">
              <input type="email" class="footer__input" placeholder="Email" />
              <button type="submit" class="footer__button button">
                Subscribe!
              </button>
            </form>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>